.show-japan 
  = render partial: "layouts/header"
  - breadcrumb :logout
  = render partial: 'layouts/navbar'
  .show
    = render partial: "side_bar"
    .right
      .right__logout
        .right__logout__button
          = link_to(destroy_user_session_path, method: :delete) do
            ログアウト
  = render partial: "layouts/button"
  = render partial: "layouts/aside"
  = render partial: "layouts/footer"