.all
  = render partial: "layouts/simpleheader"

  .registry-box
    .registry-box__title
      新規会員登録
    .registry-box__content
      .registry-box__content__box
        = link_to(new_user_registration_path, class: 'registry-box__content__box__mail') do
          = fa_icon 'envelope-o', class:"icon__mail"
          メールアドレスで登録する
        = link_to("https://www.facebook.com/mercarijp", class: 'registry-box__content__box__facebook') do
          = fa_icon 'facebook-square', class:"icon__facebook"
          Facebookで登録する
        = link_to('https://www.google.com/?hl=ja', class: 'registry-box__content__box__google') do
          = image_tag '/assets/google.png', height: '25', width: '25', class: 'icon__google'
          Googleで登録する