= render partial: "layouts/header"
.body
  .slick_bar
    %img{src:"https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2296184308", class:"slick_bar__image"}
    .slick_bar__left
      .slick_bar__left__button
        <
    .slick_bar__right
      .slick_bar__right__button
        > 
          
          
  .content
    .category
      .category__top
        .category__top__title
          人気のカテゴリー
        .category__top__contents
        - @categories.each do |category|
          .category__top__contents__rank1
            = category.category
      .category__new-items
        .category__new-items__upper
          .category__new-items__upper__text
            = "#{@categories[0].category}新着アイテム"
          .category__new-items__upper__more
            もっと見る >
        .category__new-items__lower
          .category__new-items__lower__up
          - @all_items[0].each do |item|
            = link_to(item_path(item.id), method: :get, class: "category__new-items__lower__up__item1") do
              .category__new-items__lower__up__item1__picture
              - if Rails.env.development?
                = image_tag "/uploads/image/image/#{item.images.ids[0]}/"+item.images[0][:image], size:'220x220'
              - if Rails.env.production?
                = image_tag item.images[0].image.url, size:'220x220'
                -# = image_tag asset_path("#{item.images[0].image}"), height: '40', width: '40'
                .category__new-items__lower__up__item1__picture__price
                  = item.price
              .category__new-items__lower__up__item1__name
                = item.name
          -#   .category__new-items__lower__up__item2
          -#   .category__new-items__lower__up__item3
          -#   .category__new-items__lower__up__item4
          -#   .category__new-items__lower__up__item5
          -# .category__new-items__lower__down
          -#   .category__new-items__lower__down__item6
          -#   .category__new-items__lower__down__item7
          -#   .category__new-items__lower__down__item8
          -#   .category__new-items__lower__down__item9
          -#   .category__new-items__lower__down__item10












    .brand
      .brand__top
        .brand__top__title
          人気のブランド
        .brand__top__contents
          .brand__top__contents__rank1
            シャネル
          .brand__top__contents__rank2
            ルイヴィトン
          .brand__top__contents__rank3
            シュプリーム
          .brand__top__contents__rank4
            ナイキ
      .brand__new-items
        .brand__new-items__upper
          .brand__new-items__upper__text
            シャネル新着アイテム
          .brand__new-items__upper__more
            もっと見る >
        .brand__new-items__lower
          .brand__new-items__lower__up
            .brand__new-items__lower__up__item1
            .brand__new-items__lower__up__item2
            .brand__new-items__lower__up__item3
            .brand__new-items__lower__up__item4
            .brand__new-items__lower__up__item5
          .brand__new-items__lower__down
            .brand__new-items__lower__down__item6
            .brand__new-items__lower__down__item7
            .brand__new-items__lower__down__item8
            .brand__new-items__lower__down__item9
            .brand__new-items__lower__down__item10
= render partial: 'layouts/button'            
= render partial: 'layouts/aside'
= render partial: 'layouts/footer'