-# 顔文字を表示させるために導入
%script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/8da05e3b5a.js"}

= render partial: "layouts/header"
.show-wrapper
  .show-box
    .show-box__head
      .show-box__head__name
        = link_to("#{@item.name}", root_path)
      .show-box__head__text
        『#{@item.name}』は、#{@order_count}回の取引実績を持つ
        = link_to("#{@saler.nickname}", root_path)
        さんから出品されました。
        = link_to("#{@item.brand.brand}", root_path)
        (
        = link_to("#{@category}", root_path)
        )の商品で、#{@address.city}から~#{@item.delivery_date}日で発送されます。
    .show-box__main
      .show-box__main__image-box
        .show-box__main__image-box__main-image
        .show-box__main__image-box__sub-image
          - @image.each do |img|
            - if img.image
              = image_tag img.image.url, size:'60x60'
        .show-box__main__image-box__sub-image
      %table.show-box__main__detail-box
        %tr
          %td.th1 出品者
          %td.th2
            = link_to("#{@saler.nickname}", root_path)
            .show-box__main__detail-box__icon-box
              .show-box__main__detail-box__icon-box__icons
                = fa_icon 'laugh', class: "good"
                %span 2
              .show-box__main__detail-box__icon-box__icons
                = fa_icon 'meh', class: "normal"
                %span 1
              .show-box__main__detail-box__icon-box__icons
                = fa_icon 'frown-open', class: "bad"
                %span 2
        %tr
          %td.th1 カテゴリー
          %td.th2 
            = link_to("#{@category}", root_path)
            %br
            = link_to root_path do
              = fa_icon 'chevron-right'
              = "#{@category}"
            %br
            = link_to root_path do
              = fa_icon 'chevron-right'
              = "#{@category}"
        %tr
          %td.th1 ブランド
          %td.th2
            = link_to("#{@item.brand.brand}", root_path)
        %tr
          %td.th1 商品の状態
          %td.th2 #{@item.state}
        %tr
          %td.th1 配送料の負担
          %td.th2 #{@item.delivery_fee}
        %tr
          %td.th1 配送の方法
          %td.th2 #{@item.delivery_method}
        %tr
          %td.th1 発送元地域
          %td.th2 
            = link_to("#{@address.city}", root_path)
        %tr
          %td.th1 発送日の目安
          %td.th2 ~#{@item.delivery_date}日で発送
    .show-box__item-price-box
      %span.show-box__item-price-box__price 
        = number_to_currency("#{@item.price}", unit: "¥", precision: 0)
      %span.show-box__item-price-box__tax (税込)
      %span.show-box__item-price-box__fee 送料込み
    = link_to("購入画面に進む", new_order_path(@item), class: "show-box__btn")
    .show-box__comment
      %p #{@item.detail}
    .show-box__action-box
      .show-box__action-box__left
        = render partial: 'favorites/favorite'
      .show-box__action-box__center
        = link_to root_path do
          = fa_icon 'flag-o'
          %span 不適切な商品の報告
      .show-box__action-box__right
        = link_to root_path do
          = fa_icon 'lock'
          あんしん・あんぜんへの取り組み
  .selection-box
    = link_to("商品の編集", edit_item_path, class: "selection-box__edit")
    .selection-box__text-center or
    = link_to("出品を一旦停止する", root_path, class: "selection-box__button")
    = link_to("この商品を削除する", root_path, class: "selection-box__button")
  .message-box
    %ul.message-box__message-list
      %li.message-box__message-list__list
        = link_to(root_path, class: "message-box__message-list__list__link") do
          .message-box__message-list__list__link__user
            .message-box__message-list__list__link__user__image-box
              = image_tag src="https://static.mercdn.net/thumb/photos/m67395797689_1.jpg?1570195723", class:"message-box__message-list__list__link__user__image-box__image"
            %figcaption.message-box__message-list__list__link__user__name 山田
          .message-box__message-list__list__link__seller 出品者
        .message-box__message-list__list__detail
          .message-box__message-list__list__detail__message-body
            .message-box__message-list__list__detail__message-body__text こんばんは 購入希望です
            .message-box__message-list__list__detail__message-body__icons
              .message-box__message-list__list__detail__message-body__icons__left
                = fa_icon 'clock-o'
                %span.message-box__message-list__list__detail__message-body__icons__left__favorite
                  3日前
              .message-box__message-list__list__detail__message-body__icons__right
                .message-box__message-list__list__detail__message-body__icons__right__form
                = link_to root_path do
                  = fa_icon 'flag-o'
            .message-box__message-list__list__detail__message-body__balloon
      %li.message-box__message-list__list
        = link_to(root_path, class: "message-box__message-list__list__link") do
          .message-box__message-list__list__link__user
            .message-box__message-list__list__link__user__image-box
              = image_tag src="https://static.mercdn.net/thumb/photos/m67395797689_1.jpg?1570195723", class:"message-box__message-list__list__link__user__image-box__image"
            %figcaption.message-box__message-list__list__link__user__name 山田
          .message-box__message-list__list__link__seller 出品者
        .message-box__message-list__list__detail
          .message-box__message-list__list__detail__message-body
            .message-box__message-list__list__detail__message-body__text こんばんは 購入希望です
            .message-box__message-list__list__detail__message-body__icons
              .message-box__message-list__list__detail__message-body__icons__left
                = fa_icon 'clock-o'
                %span.message-box__message-list__list__detail__message-body__icons__left__favorite
                  3日前
              .message-box__message-list__list__detail__message-body__icons__right
                .message-box__message-list__list__detail__message-body__icons__right__form
                = link_to root_path do
                  = fa_icon 'flag-o'
            .message-box__message-list__list__detail__message-body__balloon
  .message-submit
    .message-submit__attention
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.message-submit__textform
    .message-submit__button
      コメントする
  .item-nav
    .item-nav__prev
      .item-nav__prev__btn
        - if @item.previous.present?
          = link_to item_path(@item.previous) do
            = @item.previous.name
            = fa_icon 'chevron-left'
    .item-nav__next
      .item-nav__next__btn
        - if @item.next.present?
          = link_to item_path(@item.next) do
            = @item.next.name
            = fa_icon 'chevron-right'
  .sns
    .sns__sns-box
      .sns__sns-box__facebook
        = link_to root_path do
          %i.fab.fa-facebook-square
      .sns__sns-box__twitter
        = link_to root_path do
          %i.fab.fa-twitter
      .sns__sns-box__line
        = link_to root_path do
          %i.fab.fa-line
      .sns__sns-box__pinterest
        = link_to root_path do
          %i.fab.fa-pinterest
  .user-item
    .user-item__head
      = link_to root_path do
        #{@saler.nickname}さんのその他の出品
    .user-item__box
    - @salers_item.each do |item|
      .user-item__box__card
        = link_to root_path do
          .user-item__box__card__photo
            = image_tag src="https://static.mercdn.net/thumb/photos/m67395797689_1.jpg?1570195723", class:"user-item__box__card__photo__image"
          .user-item__box__card__body
            .user-item__box__card__body__text #{item.name}
            .user-item__box__card__body__num
              .user-item__box__card__body__num__price 
                = number_to_currency("#{item.price}", unit: "¥", precision: 0)
              .user-item__box__card__body__num__icon
                = fa_icon 'heart-o', class: 'num-icon'
                #{item.favorites_count}
  .similar-item
    .similar-item__head
      = link_to root_path do
        #{@category}その他の出品
    .similar-item__box__card
      = link_to root_path do
        .similar-item__box__card__photo
          %img.similar-item__box__card__photo__image{src: "https://storage.tenki.jp/storage/static-images/suppl/article/image/2/27/277/27740/1/large.jpg"}
          .similar-item__box__card__photo__text SOLD
          .similar-item__box__card__photo__soldout
        .similar-item__box__card__body
          .similar-item__box__card__body__text NIKE スニーカー
          .similar-item__box__card__body__num
            .similar-item__box__card__body__num__price ¥1,000
            .similar-item__box__card__body__num__icon
              = fa_icon 'heart-o', class: 'num-icon'
              %span 0
= render partial: 'layouts/aside'
= render partial: 'layouts/footer'