.all
  .header-registration
    .header-registration__contents
      .merucari-icon
        = link_to(root_path, class:"logo-link") do
          %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class:"logo-link__image"}
      = render 'layouts/progressbar'

  .registry-box
    .registry-box__title
      支払い方法
    .registry-box__content
      .registry-box__content__box
        .content__credit-card
          .content__credit-card__inner
            = form_with url: cards_path, method: :post, html: { name: "inputForm" } do |f|
              .field
                .string
                  = f.label :カード番号, class: "text"
                  .required
                    必須
                = f.text_field :card_number, autofocus: true, autocomplete: "nickname", class: "textfield", placeholder: "半角数字のみ",maxlength: "16"
                .card-mark
                  = image_tag '/assets/visa.png', height: '25', width: '42'
                  = image_tag '/assets/mastercard.png', height: '25', width: '42'
                  = image_tag '/assets/saisoncard.png', height: '25', width: '42'
                  = image_tag '/assets/jcbcard.png', height: '25', width: '42'
                  = image_tag '/assets/americanexpress.png', height: '25', width: '42'
                  = image_tag '/assets/dinersclub.png', height: '25', width: '45'
                  = image_tag '/assets/discover.png', height: '25', width: '42'

              .field
                .string
                  = f.label :有効期限, class: 'text'
                  .required
                    必須
                .cards-expire__wrap
                  = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
                  %span.expire-text 月
                  %br
                .cards-expire__wrap
                  = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
                  %span.expire-text 年
              .field
                .string
                  = f.label :セキュリティコード, class: 'text'
                  .required
                    必須
                = f.text_field :cvc, type: 'text', class: 'textfield', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
              %p.link
                = link_to(root_path, class: "confirmation-identification", id: "telconfim") do
                  = fa_icon 'question-circle', class:"icon__question"
                  カード裏面の番号とは？
              #card_token
                = f.submit '追加する', class: 'next', id: 'token_submit'

              -# = form_with url: purchase_item_path do
              -#   :plain
              -#     %script{type: "text/javascript", src: "https://checkout.pay.jp", class: "payjp-button", data-kay: "pk_test_216ba725e842c4463703a5a7"}


:javascript
  document.addEventListener(
  "DOMContentLoaded", (e) => {
    Payjp.setPublicKey("pk_test_051cb92c91fa25532f6d5eef");
    const btn = document.getElementById('token_submit'); //IDがtoken_submitの場合に取得されます
    btn.addEventListener("click", (e) => { //ボタンが押されたときに作動します
      e.preventDefault(); //ボタンを一旦無効化します

      //カード情報生成
      const card = {
        number: document.getElementById("card_number").value,
        cvc: document.getElementById("cvc").value,
        exp_month: document.getElementById("exp_month").value,
        exp_year: document.getElementById("exp_year").value
      }; //入力されたデータを取得します。

      //トークン生成
      Payjp.createToken(card, (status, response) => {
        if (status === 200) { //成功した場合
          $("#card_number").removeAttr("name");
          $("#cvc").removeAttr("name");
          $("#exp_month").removeAttr("name");
          $("#exp_year").removeAttr("name"); //カード情報を自分のサーバにpostせず削除します
          $("#card_token").append(
            $('<input type="hidden" name="payjp-token">').val(response.id)
          ); //トークンを送信できるように隠しタグを生成
          document.inputForm.submit();
          alert("登録が完了しました"); //確認用
        } else {
          alert("カード情報が正しくありません。"); //確認用
        }
      });
    });
  },false);