.header
  .header__box
    .header__box__upper
      .header__box__upper__logo
        %a{href:"", class:"logo-link"}
          %img{src:"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class:"logo-link__image"}
      = form_with url: search_items_path do |f|
        = f.text_field :text, class:"search-form", placeholder:"何かお探しですか？"
        = f.button :submit, class:"search-form__btn" do
          = fa_icon 'list-ul',
      .header__box__upper__search-box
        %input{type:"search", placeholder: "何かお探しですか？", class:"search-form"}
          %label{ fa_icon:"picture-o", class:"search-form__btn"}
    .header__box__lower
      .header__box__lower__list-left
        .list-right
          = link_to root_path do
            = fa_icon 'list-ul', class:"icon__orange"
            カテゴリーから探す
        .list-left
          = link_to root_path do
            = fa_icon 'tag', class:"icon__orange"
            ブランドから探す
      %ul.header__box__lower__list-right
        %li
          = link_to root_path do
            = fa_icon 'bell', class:"icon__gray"
            お知らせ
        %li
          = link_to root_path do
            = fa_icon 'check', class:"icon__gray"
            やることリスト
        %li
          = link_to root_path do
            = fa_icon 'check', class:"icon__gray"
            マイページ